body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
  

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1; 
}
  
main {
    flex: 1; 
}


body {
    background-color: black;
    color: #e0e0e0;
    font-family: "Exo 2", serif;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    color: #afe81f !important;
    font-weight: bold;
    font-size: 30px;
}

.nav-link {
    color: #e0e0e0 !important;
}

.nav-link.active, span, .dropdown-toggle.active {
    color: #afe81f !important;
}

.dropdown-menu{
    background-color: black;
    border: none;
    color: white;
}

.dropdown a{
    color: #e0e0e0;
    text-decoration: none;
    padding-top: 8px;
}
header {
    background-color: #090c11;
    color: #ffffff;
    text-align: left;
    padding: 60px 30px;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
}

header p {
    font-size: 1.5rem;
}

.center{
    display: flex;
}

header .btn, .con .btn {
    background-color: #afe81f;
    color: black;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
}

header .btn:hover, .con .btn:hover{
    background-color: #1534fe;
    color: white;
}

.card {
    background-color: #090c11;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.col-lg-3 .card:hover {
    transform: scale(1.05);
}

.card-title, .service{
    color: #afe81f;
}

.card ul {
    list-style-type: none;
    padding-left: 0;
}

.card ul li {
    padding: 5px 0;
    color: white;
    font-size: 20px;
}

footer {
    background-color: #090c11;
    color: #e0e0e0;
    padding: 20px 0;
}

footer a {
    color: #afe81f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.card .budget h5, .card .mid h5{
    color: rgb(76, 74, 74);
}

.budget2{
    background-color: #392D77;
    border-radius: 10px;
}

.card .high h5, .card .budget2 h5{
    color: #c6c6c6;
}

.card .mid{
    background-color: #afe81f;
    border-radius: 10px;
}

.card .mid li{
    color: black;
}

.card .budget h3{
    color: #afe81f;
    font-weight: bold;
    text-transform: uppercase;
}

.card .mid h3{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.card .high h3, .card .budget2 h3{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.card .high{
    background-color: #1534fe;
    border-radius: 10px;
}

.con{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.textContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cardlink{
    text-decoration: none;
}

.list{
    border-radius: 10px;
}

.list ul{
    list-style-type: disc;
}

.example{
    padding-left: 2rem !important;
}

.card-body img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.lists{
    padding: 0;
}

.over-ons-text{
    font-size: 20px;
}

.waarom{
    font-size: 20px;
}

.row{
    justify-content: center;
}

.row>*{
    padding: 10px !important;
}

.container-fluid {
    padding: 0 15px; /* Reduce side padding for full-width effect */
}

.vragenlijst{
    display: flex;
    justify-content: center;
    background-color: #090c11;
}

label{
    padding-bottom: 5px;
}

.form-label{
    font-size: 20px;
    color: #afe81f;
}

.modal-content{
    background-color: #090c11;
}

#aanbevelingText, #aanbevelingModalLabel{
    color: white;
}

.slider img{
    border-radius: 10px 10px 0 0;
    height: 530px;
}

.col-md-5 img{
    margin: 0 auto;
}

.button-left{
    background-color: #afe81f;
    border: none;
    height: 40px;
    width: 50%;
    border-right: 1.5px solid #090c11;
    font-size: 25px;
}

.button-right{
    background-color: #afe81f;
    border: none;
    height: 40px;
    width: 50%;
    border-left: 1.5px solid #090c11;
    font-size: 25px;
}

.imgbuttons{
    display: flex;
    justify-content: space-between;
}

.examplecard{
    border-radius: 0 0 10px 10px;
}

.pre .container{
    display: flex;
    justify-content: center ;
}

.pre .container .col-5{
    padding-right: 10px;
}

.insta{
    width: 30px;
    height: 30px;
    margin: 0 5px 0 5px;
}

.display-none{
    display: none;
}

.display{
    display: block;
}

.dark-theme {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #090c11;
    color: #c6c6c6;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.dark-theme th, .dark-theme td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #c6c6c6; 
}

.dark-theme th {
    background-color: #0000; 
    color: #afe81f; 
}

.dark-theme td {
    background-color: #0000;
    color: #fff;
}

.over-ons-text {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    .dropdown a{
        padding: 10px 0px 10px 0;
        font-size: 20px;
    }

    .slider img{
        height: 405px;
    }

    .button-left{
        left: 0%;   
    }

    .button-right{
        right: 0%;   
    }

    .pre .container{
        flex-direction: column;
        align-items: center;
    }

    .pre .container .col-5{
        width: 100%;
        padding: 0;
    }

    .waarom{
        font-size: 17px;
    }

    .display-none{
        display: block !important;
    }

    .display{
        display: none !important;
    }
}